<div id="<%= dom_id animal %>">
  <p>
    <strong>Criacao do animal:</strong>
    <%= animal.criacao_do_animal %>
  </p>

  <p>
    <strong>Raca:</strong>
    <%= animal.raca %>
  </p>

  <p>
    <strong>Idade do animal:</strong>
    <%= animal.idade_do_animal %>
  </p>

</div>
